alabaster==1.0.0
babel==2.16.0
docutils==0.21.2
html2text==2024.2.26
imagesize==1.4.1
Jinja2==3.1.4
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
myst-parser==4.0.0
sphinx==8.1.3
sphinx-rtd-theme
sphinx-autoapi
sphinx-autodoc-typehints
furo>=2024.1.29